Checks:
  - -*

  - bugprone-*
  - -bugprone-easily-swappable-parameters

  - clang-analyzer-*

  - cppcoreguidelines-*
  - -cppcoreguidelines-pro-type-reinterpret-cast
  - -cppcoreguidelines-avoid-magic-numbers
  - -cppcoreguidelines-non-private-member-variables-in-classes
  - -cppcoreguidelines-pro-type-union-access

  - concurrency-*

  - misc-*
  - -misc-non-private-member-variables-in-classes

  - modernize-*
  - -modernize-use-trailing-return-type
  - -modernize-avoid-c-arrays
  - -modernize-use-nodiscard

  - objc-*

  - performance-*

  - portability-*

