Checks:
  - -*

  - bugprone-*
  - -bugprone-easily-swappable-parameters

  - clang-analyzer-*

  - concurrency-*

  - cppcoreguidelines-*
  - -cppcoreguidelines-avoid-c-arrays
  - -cppcoreguidelines-pro-bounds-pointer-arithmetic
  - -cppcoreguidelines-pro-type-union-access
  - -cppcoreguidelines-avoid-magic-numbers
  - -cppcoreguidelines-pro-type-cstyle-cast
  - -cppcoreguidelines-non-private-member-variables-in-classes

  - misc-*

  - modernize-*
  - -modernize-use-trailing-return-type
  - -modernize-avoid-c-arrays
  - -modernize-use-nodiscard
  - -misc-non-private-member-variables-in-classes

  - objc-*

  - performance-*

  - portability-*

  - readability-*
  - -readability-braces-around-statements
  - -readability-identifier-length
  - -readability-redundant-access-specifiers
  - -readability-simplify-boolean-expr
  - -readability-named-parameter
  - -readability-magic-numbers
  - -readability-function-cognitive-complexity